In [11]:
# Import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import datetime as dt

In [4]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("bhadramohit/credit-card-fraud-detection")

print("Path to dataset files:", path)

/opt/miniconda3/envs/ml_environment/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)
Downloading from https://www.kaggle.com/api/v1/datasets/download/bhadramohit/credit-card-fraud-detection?dataset_version_number=1...

100%|██████████| 1.75M/1.75M [00:00<00:00, 5.32MB/s]

Extracting model files...
Path to dataset files: /Users/davidal-gurnawi/.cache/kagglehub/datasets/bhadramohit/credit-card-fraud-detection/versions/1

In [5]:
print(path)

/Users/davidal-gurnawi/.cache/kagglehub/datasets/bhadramohit/credit-card-fraud-detection/versions/1

In [7]:
df = pd.read_csv('ml_data/credit_card_fraud_dataset.csv')
df

,TransactionID,TransactionDate,Amount,MerchantID,TransactionType,Location,IsFraud
0,1,2024-04-03 14:15:35.462794,4189.27,688,refund,San Antonio,0
1,2,2024-03-19 13:20:35.462824,2659.71,109,refund,Dallas,0
2,3,2024-01-08 10:08:35.462834,784.00,394,purchase,New York,0
3,4,2024-04-13 23:50:35.462850,3514.40,944,purchase,Philadelphia,0
4,5,2024-07-12 18:51:35.462858,369.07,475,purchase,Phoenix,0
...,...,...,...,...,...,...,...
99995,99996,2024-06-07 00:57:36.027591,1057.29,289,refund,San Antonio,0
99996,99997,2023-10-22 23:12:36.027594,297.25,745,refund,San Antonio,0
99997,99998,2024-05-31 19:27:36.027597,3448.56,690,purchase,San Antonio,0
99998,99999,2024-10-18 09:43:36.027601,3750.79,644,purchase,Philadelphia,0
99999,100000,2024-03-05 19:41:36.027606,1596.79,675,refund,Houston,0

In [8]:
df.dtypes

TransactionID        int64
TransactionDate     object
Amount             float64
MerchantID           int64
TransactionType     object
Location            object
IsFraud              int64
dtype: object

In [10]:
df.describe()

       TransactionID         Amount     MerchantID        IsFraud
count  100000.000000  100000.000000  100000.000000  100000.000000
mean    50000.500000    2497.092666     501.676070       0.010000
std     28867.657797    1442.415999     288.715868       0.099499
min         1.000000       1.050000       1.000000       0.000000
25%     25000.750000    1247.955000     252.000000       0.000000
50%     50000.500000    2496.500000     503.000000       0.000000
75%     75000.250000    3743.592500     753.000000       0.000000
max    100000.000000    4999.770000    1000.000000       1.000000

In [14]:
df["Date"] = df["TransactionDate"].astype(str).str.split(" ").str[0]
df.head()

,TransactionID,TransactionDate,Amount,MerchantID,TransactionType,Location,IsFraud,Date
0,1,2024-04-03 14:15:35.462794,4189.27,688,refund,San Antonio,0,2024-04-03
1,2,2024-03-19 13:20:35.462824,2659.71,109,refund,Dallas,0,2024-03-19
2,3,2024-01-08 10:08:35.462834,784.00,394,purchase,New York,0,2024-01-08
3,4,2024-04-13 23:50:35.462850,3514.40,944,purchase,Philadelphia,0,2024-04-13
4,5,2024-07-12 18:51:35.462858,369.07,475,purchase,Phoenix,0,2024-07-12

In [15]:
df["Time"] = df["TransactionDate"].astype(str).str.split(" ").str[1]
df.head()

,TransactionID,TransactionDate,Amount,MerchantID,TransactionType,Location,IsFraud,Date,Time
0,1,2024-04-03 14:15:35.462794,4189.27,688,refund,San Antonio,0,2024-04-03,14:15:35.462794
1,2,2024-03-19 13:20:35.462824,2659.71,109,refund,Dallas,0,2024-03-19,13:20:35.462824
2,3,2024-01-08 10:08:35.462834,784.00,394,purchase,New York,0,2024-01-08,10:08:35.462834
3,4,2024-04-13 23:50:35.462850,3514.40,944,purchase,Philadelphia,0,2024-04-13,23:50:35.462850
4,5,2024-07-12 18:51:35.462858,369.07,475,purchase,Phoenix,0,2024-07-12,18:51:35.462858

In [16]:
df["Year"] = df["Date"].astype(str).str.split("-").str[0]
df["Month"] = df["Date"].astype(str).str.split("-").str[1]
df["Day"] = df["Date"].astype(str).str.split("-").str[2]
df.head()

,TransactionID,TransactionDate,Amount,MerchantID,TransactionType,Location,IsFraud,Date,Time,Year,Month,Day
0,1,2024-04-03 14:15:35.462794,4189.27,688,refund,San Antonio,0,2024-04-03,14:15:35.462794,2024,04,03
1,2,2024-03-19 13:20:35.462824,2659.71,109,refund,Dallas,0,2024-03-19,13:20:35.462824,2024,03,19
2,3,2024-01-08 10:08:35.462834,784.00,394,purchase,New York,0,2024-01-08,10:08:35.462834,2024,01,08
3,4,2024-04-13 23:50:35.462850,3514.40,944,purchase,Philadelphia,0,2024-04-13,23:50:35.462850,2024,04,13
4,5,2024-07-12 18:51:35.462858,369.07,475,purchase,Phoenix,0,2024-07-12,18:51:35.462858,2024,07,12

In [17]:
df["Hour"] = df["Time"].astype(str).str.split(":").str[0]
df["Minute"] = df["Time"].astype(str).str.split(":").str[1]
df["Second"] = df["Time"].astype(str).str.split(":").str[2]
df.head()

,TransactionID,TransactionDate,Amount,MerchantID,TransactionType,Location,IsFraud,Date,Time,Year,Month,Day,Hour,Minute,Second
0,1,2024-04-03 14:15:35.462794,4189.27,688,refund,San Antonio,0,2024-04-03,14:15:35.462794,2024,04,03,14,15,35.462794
1,2,2024-03-19 13:20:35.462824,2659.71,109,refund,Dallas,0,2024-03-19,13:20:35.462824,2024,03,19,13,20,35.462824
2,3,2024-01-08 10:08:35.462834,784.00,394,purchase,New York,0,2024-01-08,10:08:35.462834,2024,01,08,10,08,35.462834
3,4,2024-04-13 23:50:35.462850,3514.40,944,purchase,Philadelphia,0,2024-04-13,23:50:35.462850,2024,04,13,23,50,35.462850
4,5,2024-07-12 18:51:35.462858,369.07,475,purchase,Phoenix,0,2024-07-12,18:51:35.462858,2024,07,12,18,51,35.462858

In [20]:
print(df["Year"].unique())
print(df["Location"].unique())
print(df["TransactionType"].unique())
print(df["MerchantID"].unique())

['2024' '2023']
['San Antonio' 'Dallas' 'New York' 'Philadelphia' 'Phoenix' 'Chicago'
 'San Jose' 'San Diego' 'Houston' 'Los Angeles']
['refund' 'purchase']
[ 688  109  394  944  475  302  902  266   32  193  349  359  219  617
  529  462  912  522  456  134   51  196  813  878  521  348  725   44
  605  347  595  163  781  510  469  322  991  369  663  284  788  207
  661   31    4  980  251  334  978  639  620   57  970  430  437  685
  274   12  277   94  400  526  576  879  680  546  555  412  210  363
  112  823  447  619  979  770  807   52  282  926  397  431  701  846
  941  817   87  708  336  188  407  656  818   68  837   37   78  574
  376  934  727  258  441  305  364  339  382  464  714  244  231  443
  455  608  232  955  897  983  366  486  587  816  648  806  616  728
  814  621  141  294  675  381  565  794  174  187  964  118  279  681
  796  434    1  824  560  789  471  666  584  255   28  551  826  737
  303    3  505  502  484  582   27  706  429  828  361  627   75  916
  862  417  615  786  345  367  722  883  409  167  743  631  201  240
  921  116  965  719   43  573  151  919  452  411  205  990  780  256
  797  220  289  388  445  148  169  515  488  233  496  744  298   53
   59  947  337  248  966  827  949  973  101  623  590  113  598  106
  933   67  691  662  855  750   47  618  371  695  280  136   63  197
  848  519  736  864   76  731  645  972  843  785  914  870  874  671
  480  849  804  466  497  882   98  887  332  156  542  925  540  115
    8  768  886  278  213  704  338  756  108  130   45  237  340  527
  693  449  985   73  850  799  288  597  439  636  243  791   64  487
  755  904  353   96  107  398  881  413  230  601  734  989  247  767
  686  899  906  405  713  924  842  241  854  787   80  446  436  236
   93  311  655  838   14  963  726  575  271  104  239  312  489   41
  803  740  460  572  275  769   29  889  414  654  765  724  399  433
  761  435  224  550  402  948  821   83  494  120  146  928  894  974
  730  103  798  204  286   13  198  884  273  694   46   82  269   71
  901  122  102  967  535  558  712   84  327  212  896  195  368  154
  544  539  504  395  511  602  229   22  703  829  245  568  358  935
  532  805  613  161  888  178   58  585  554  802  100 1000  668  705
  183  962   65   18  592   92  684  427  869  378  657   85  845  658
  299  514  956  629  811  132  343  820  673  715  581  147    2  415
  733  403  125  401  342  525  876  790  491   25  448  764  534  885
    5  331  999  588  851  559  633   99   81  549  350  324  586  642
  667  396  643  461  206  839  352  356  438  313  913  689  453  773
  253  940   79  333  503  626  387  692  939  943  191  149  164  903
  139  548  408  159  609  927  872  492  665  650  209  509  524  809
  317  758  166  702  651  318  690  660  242  646  124  778  172   26
  507  547  304  281  481  285  723  875  157   89  859  833  385  986
   11  782  593  578  344  208    7   24  652  800  958  374  783  890
  561  748  777  416  929  835  707  847  300  891  362   88  907  458
  329  292  969  261  795   50  162  784  316  263  611  911  440   48
  265  500  328  625  720  171  257  234  160  420  776  111  186  771
  922  822  930  556  465  634  984  421  379  905  880  222  932  669
  700  200  863  250  138   10  945  866  801  127  457  406  459  531
    6  892  709  218    9  126  283  442  632  238  121  181  426  516
  467  335  537  450  871  858  474   38  649  672  953  221  482  664
  314   33  580   97  687  422  110  215  499  404  428  150  267   17
  893  165  810  721  226  513  873  775  918  214  176  190  831  158
   61  287  520  763  293  938  570  319   35  982  717  135  389  320
  812   55  173  567  607  365  260  738  330  326  749  155  354  960
  133  757  968  853  995  754  383  729  373  917  977  296  659  341
  868  357  779  425  189  351  774  177  604  152  508   16  346  908
  295  603  996  644  377  310  988  766   15  478  472  951  184  579
  745  610  959  536  772  545  815   42  825  950  898  997  228  301
  677   34  594  683  571  202  562  144  538  217  264  128  946  479
  841  923  517  168  614  192  954  931  393  468  543  391  372  182
  635  762  987   62  630  975  852  444   70  676  483  877  290   36
  315  501  647  718  993  895  375  865  860  591  735  323   91  981
   90  268  392  145  476  223  114  424  746  454  291  477  910   23
  355  836  696  674  533  131  751  530  194  753  380  203   56  495
  432  225  569  942  493  419  819   60  216  360   19  998  199  759
  653  612  937  498  235  840  711  606  463  682  792  992  321  732
  600  678  153  832  793  742  566  909   74  741  123  386  557  563
   95  752  564  423  262  140  957   39   54  512  583  105  541  129
  117  211  390  185  325  308  506  971  137  175  589  936  679  170
  624  490  976  307  384  961  994   40  641  528   66  834  272  180
  900  638   20   30  552  697  915  577  920  640  485  739  473   21
  699  867  553  518  599   77  143  370  246   72  861  670  622  119
  716  760   49  844  249  270  254  830  227  142  637  418  252  628
  470  856  698  747  710   86  451  808  259  276  857  306  952  410
  596   69  523  179  297  309]

In [27]:
cities = pd.pivot_table(df, values='TransactionID', index=['IsFraud', 'Year'], columns='Location', aggfunc='count', fill_value=0)
cities

Location      Chicago  Dallas  Houston  Los Angeles  New York  Philadelphia  \
IsFraud Year
0       2023     2021    1932     1901         1968      1925          1897
        2024     8077    8045     7985         7873      7952          7886
1       2023       14      23       19           17        19            17
        2024       81      76       86           78        97            73

Location      Phoenix  San Antonio  San Diego  San Jose
IsFraud Year
0       2023     1943         1956       1967      1861
        2024     7918         8007       8029      7857
1       2023       20           20         19        12
        2024       79           79         96        75